﻿<h1>Order Cancellation Page</h1>

<hr/>

@{
    try
    {
        if (ViewData["cancellationInfo"].ToString() == "OK")
        {
            <p>Your order has successfully been cancelled and has now been removed from your 'My Orders' section!</p>
        }
        else
        {
            <p>Looks like there was a problem cancelling your order. This could be for a variety of reasons so please contact the supplier for further details.</p>
        }
    }
    catch
    {
        <p>Oops, looks like there was a problem please try again later or contact support for assistance</p>
    }
}