﻿@model DavisonCorp.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
}

<h2>@ViewBag.Title</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h4>Here you can manage your Davison Store User Account</h4>
    <hr />
    <div class="options">
        @Html.ActionLink("View My Orders", "ViewOrders")   
        @Html.ActionLink("Change Your password", "ChangePassword")
    </div>
    <hr/>
</div>
