﻿@model DavisonCorpModel.DTO.Order

@{
    ViewBag.Title = "Order Details";
}
           
<h3>Details for Order @Html.DisplayFor(model => model.Id)</h3>
<hr/>

@{
    try
    {
        <p>Order ID: @Html.DisplayFor(model => model.Id)</p> <br/>
        <p>Order Placed: @Html.DisplayFor(model => model.When)</p> <br />
        <p>Product Ordered: @Html.DisplayFor(model => model.ProductName)</p> <br />
        <p>Product EAN: @Html.DisplayFor(model => model.ProductEan)</p> <br />
        <p>Quantity Ordered: @Html.DisplayFor(model => model.Quantity)</p> <br/>
        <p>Total Price: @Html.DisplayFor(model => model.TotalPrice) </p> <br />
    }
    catch
    {
        <p>Unable to display order information. Please contact support for assistance</p>
    }
}