﻿@model IEnumerable<DavisonCorpModel.DTO.OrderLog>

@{
    ViewBag.Title = "My Orders";
}
<br/> <br/> <hr/>
<h4>Your Orders</h4>
<table class="table">
    @{
        try
        {
            foreach (var item in Model)
            {
                <tr>
                    <td>
                        @*@Html.ActionLink("Order " + item.SupplierOrderId, "OrderDetails")*@ @*@Html.DisplayFor(modelItem => item.SupplierOrderId)*@
                        @using (Html.BeginForm("OrderDetails", "Manage"))
                        {
                            @Html.Hidden("idNumber", "" + item.SupplierOrderId)
                            @Html.Hidden("supplier", "" + item.SupplierName)
                            <button type="submit" value="true" name="idNum" class="fixedWidthButton">Order @item.SupplierOrderId</button>
                        }
                    </td>
                    <td>
                        Product Ordered: @Html.DisplayFor(modelItem => item.ProductName)
                    </td>
                    <td>
                        Quantity: @Html.DisplayFor(model => item.QuantityOrdered)
                    </td>
                    <td>
                        Supplier: @Html.DisplayFor(modelItem => item.SupplierName)
                    </td>
                    <td>
                        @using (Html.BeginForm("CancelOrder", "Manage"))
                        {
                            @Html.Hidden("idNumber", ""+item.SupplierOrderId)
                            @Html.Hidden("supplier", item.SupplierName)
                            <button type="submit" value="true" class="fixedWidthButton" name="idNum">Cancel Order</button>
                        }
                    </td>
                </tr>
            }
        }
        catch
        {
            <tr>Unable to retrieve your orders, please try again later.</tr>
        }
    }
</table>
