﻿@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    123 Davison Web App Avenue<br />
    DavisionLand, DS 12345-9999<br />
    <abbr title="Phone">P:</abbr>
    0800 000 000
</address>

<address>
    <strong>Queries:</strong>   <a href="mailto:Admin@DavisonStore.Com">Admin@DavisonStore.com</a><br />
</address>