﻿@{
    ViewBag.Title = "Home";
}

<div class="jumbotron">
    <h1>Welcome to the Davison Store</h1>
    <p class="lead">Here you can buy products from leadings brands such as Soggy Sponge and Damp Squib</p>
    <p><a href="/Product/Index" class="btn btn-primary btn-lg">View Products &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Range of suppliers</h2>
        <p>We have a variety of suppliers available to ensure you get great quality products at bargain prices.</p>
    </div>
    <div class="col-md-4">
        <h2>Bulk Purchases</h2>
        <p>There are great discounts available on bulk purchases. Purchase 10 or more for savings to shout about.</p>
    </div>
    <div class="col-md-4">
        <h2>Love our products?</h2>
        <p>Leave a comment or rating on our product pages to let everyone know what all the fuss is about!</p>
    </div>
</div>