﻿body {
    padding-top: 50px;
    padding-bottom: 50px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

footer {
    /* Set the text and div background color*/
    color:#999;
    background-color:#222;
    /* Stick to bottom of page */
    position:fixed;
    bottom:0px;
    /* Vertically and horizontall central text */
    height:40px!important;
    line-height:40px;
    width:100%;
    text-align:center;
    left: 0;
}

span {
    /* Display text in span vertically center */
    display: inline-block;
    vertical-align: middle;
    line-height: normal;     
}

.spacedTextStyle {
    font-family: "Lucida Grande", Tahoma; 
    font-size: 14px; 
    text-transform: uppercase; 
    letter-spacing: 0.5em; 
    color: #666666;
}

.buyButton {
    float:right;
}

#leftSide{
    background-color:lightcyan;
    width:10%;
    position:fixed; 
    float:left;
    padding-top:20px;
    height:100%;
    border-right:dashed; border-width:1px;
}
#leftSide li {
    list-style:square;
    padding-top:10px;
    padding-bottom:10px;
    margin-right:20px;
}

/* warning header */
.warningText {
    font-size: 18px;
    color: red;
}

/*Makes the HR close to the text when both (closerule and closetorule) are used*/
.closeRule {
    margin-top: 0;
    border-width: 1px;
    border-color: #666;
}
.closeToRule {
    margin-bottom: 0;
}

h4 {
    font-style: italic;
}

#cart{
    float:right;
    background:#222;
    color:white;
    padding:10px;
    position:fixed;
    right:20%;
    border-radius:0px 0px 10px 10px;
}

.navbar {
    border:none;
}

/* Override of the bootstrap form-control used for product filtration options*/
.form-control.mySelection {
    margin:0; 
    padding:0; 
    font-style:italic; 
    display: inline;
    width: 40px;
}
.myInline {
    display: inline;
}

/* Used for the Admin Panel */
.options {
    margin-top: 35px;
    margin-bottom: 35px;
}
.options a {
    padding: 30px;
    border: 2px black Solid;
    color: white;
    background-color:#222222;
    border-radius: 10px;
}

.fixedWidthButton {
    width: 100px;
    border-color: darkslateblue;
    border-width: 1px;
    background-color: azure;
}

.smallText {
    font-size: 11px;
    font-style: italic;
    font-weight: bold;
    color: green;
}