﻿@model DavisonCorpModel.Cart.Cart

<div id="cart">
        <b>Your cart:</b>
        @Model.Items.Sum( c => c.Quantity),
        @Model.CalculateTotalCartValue().ToString("c")
    @Html.ActionLink("Checkout","Index", "Cart", new {returnUrl = Request.Url.PathAndQuery},null)
</div>
