﻿@model List<DavisonCorpModel.StoreProduct>

@{
    ViewBag.Title = "CheaperItem";
    string URL = ViewBag.RedirectURL;
}

<h2>A cheaper item has been found! Please select the item you want!</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model[0].Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model[0].Description)
        </th>

        <th>
            @Html.DisplayNameFor(model => model[0].ProductSupplier)
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductSupplier)
            </td>
            <td>
                £@Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @using (Html.BeginForm("AddToCart", "Cart"))
                {
                    <input type="submit" id="Cheaper" class="btn btn-default buyButton" value="Select Item" />
                    <fieldset>
                        <input type="hidden" name="productName" value=@Server.UrlEncode(item.Name) />
                        <input type="hidden" name="productPrice" value=@item.Price />
                        <input type="hidden" name="productEan" value=@Server.UrlEncode(item.Ean) />
                        <input type="hidden" name="productSupplier" value=@item.ProductSupplier />
                        <input type="hidden" name="productCategory" value=@Server.UrlEncode(item.CategoryName)/>
                        <input type="hidden" name="productId" value=@Server.UrlEncode(item.Id.ToString()) />
                        @Html.Hidden("qty",1)
                        <input type="hidden" name="compare" value="No" />
                        <input type="hidden" name="returnURL" value=@Server.UrlEncode(URL) />
                    </fieldset>
                }
            </td>
        </tr>
    }
</table>

@{
    var cheaperProductPrice = Model[0].Price;
    var initialProductPrice = Model[1].Price;
    var saving = Math.Round((initialProductPrice - cheaperProductPrice),2);
}

<h3>If you pick the cheaper item this will save you £@saving</h3>
