﻿@model DavisonCorpModel.Cart.CartReturnViewModel

@{
    ViewBag.Title = "Your Shopping Cart";
}
<br/>
<h2>Your Shopping Cart</h2>
<br/>
<table width ="100%" align="center">
    <thead>
        <tr>
            <th align="left">Item</th>
            <th align="left">Price</th>
            <th align="left">Quantity</th>
            <th align="left">Subtotal</th>
            <th align="left">Supplier</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.cart.Items)
        {
            <tr>
                <td align="left">@item.ProductName</td>
                <td align="left">@item.ProductPrice.ToString("c")</td>
                <td align="left">@item.Quantity</td>
                <td align="left">@((item.Quantity * item.ProductPrice).ToString("c"))</td>
                <td align="left">@item.ProductSupplier</td>
                <td>
                    @using (Html.BeginForm("RemoveFromCart", "Cart"))
                    {
                        @Html.Hidden("productName", item.ProductName)
                        @Html.Hidden("productEan", item.ProductEan)
                        @Html.Hidden("productSupplier", item.ProductSupplier)
                        @Html.Hidden("returnURL", Request.Url.PathAndQuery)
                        <input class="btn btn-default" type="submit" value="Remove item"/>
                    }
                </td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td align="left" style="padding-top: 20px;"><strong>Total: </strong> @Model.cart.CalculateTotalCartValue().ToString("c")</td>
        </tr>
    </tfoot>
    
</table>

<hr/>
<input type="button" class="btn btn-success" value="Place Order" onclick="location.href='@Url.Action("PlaceOrder", "Cart")'" />
<hr/>

<form action=@Model.returnUrl>
    <input type="submit" class="btn btn-primary" value="Continue Shopping">
</form>
<hr/>

