﻿@model List<DavisonCorpModel.OrderSupplierViewModel>

@{
    ViewBag.Title = "Confirmation";
}

<br/>
<h2>Confirmation of order{s}</h2> 
<br/>

@foreach (var specificOrder in Model) {     
    <p>Order ID: @specificOrder.TheOrder.Id.ToString()</p>
    <p>Order Supplier: @specificOrder.ProductSupplier</p>
    <p>Product Name: @specificOrder.TheOrder.ProductName</p>
    <p>Product EAN: @specificOrder.TheOrder.ProductEan</p>
    <p>Quantity Ordered: @specificOrder.TheOrder.Quantity</p>
    <p>Total Price: @specificOrder.TheOrder.TotalPrice</p>
    <hr />
}