﻿@model DavisonCorpModel.DTO.Order

@{
    ViewBag.Title = "Order Placement";
}

<h1>Place Your Order</h1>

<h3>Please enter your details below to complete the order process</h3>


@using (@Html.BeginForm("ExecuteOrder", "Cart", FormMethod.Post))
{
    <fieldset>             
        Please enter your card number to complete the purchase: @Html.TextBoxFor(model => model.CardNumber)
        <br/>
        <input type="submit" value="Confirm Order" class="btn btn-success" />
    </fieldset>
}