﻿@{
    ViewBag.Title = "RoleIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<p>&nbsp;</p>
<div class="options">
    @Html.ActionLink("  Restocker", "RestockInfoView", "Restocker")  | @Html.ActionLink("Role Creater", "RoleCreate") | @Html.ActionLink("Role Assigner", "RoleAddToUser")
</div>

<br/>
<hr/>

<h2>Available User Roles:</h2>
    @foreach (string s in Model)
    {
        <p>
            @s
            <span onclick=" return confirm('Are you sure to delete?') ">
                <a href="/Account/RoleDelete?RoleName=@s" class="delLink">Delete</a>
            </span>
        </p>
    }
