﻿@model IEnumerable<DavisonCorpModel.StoreProduct>

<table class="table">
    @{
        try
        {
                 if (!Model.Any())
                 {
                    <p>No items found for this supplier</p>
                 }
            
            foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.ActionLink(item.Name, "ProductDetails", "Product", new { productEan = item.Ean }, new { @class = "btn" })
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(model => item.Ean)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProductSupplier)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.InStock)
                    </td>
                    <td>
                        @Html.DisplayFor(model => item.Price)
                    </td>
                    <td>
                        @using (Html.BeginForm("AddToCart", "Cart"))
                        {

                            @Html.Hidden("productName", item.Name)
                            @Html.Hidden("productPrice", item.Price)
                            @Html.Hidden("productEan", item.Ean)
                            @Html.Hidden("productSupplier", item.ProductSupplier)
                            @Html.Hidden("productCategory", item.CategoryName)
                            @Html.Hidden("compare", "Yes")
                            @Html.Hidden("productId", item.Id)
                            @Html.Hidden("qty",1)
                            <input type="submit" id="myLink" class="btn btn-default buyButton" value="Add To Cart" />
                        }
                    </td>
                    <td>
                        @using (Html.BeginForm("AddToCart", "Cart"))
                        {
                            @Html.Hidden("productName", item.Name)
                            @Html.Hidden("productPrice", item.Price)
                            @Html.Hidden("productEan", item.Ean)
                            @Html.Hidden("productSupplier", item.ProductSupplier)
                            @Html.Hidden("productCategory", item.CategoryName)
                            @Html.Hidden("compare", "No")
                            @Html.Hidden("productId", item.Id)
                            @Html.Hidden("qty", 10)
                            <input type="submit" id="myLink" class="btn btn-default buyButton" value="Add Ten To Cart" />
                        }
                        @{
                            if (item.PriceForTen < (item.Price * 10))
                            {
                                var normalPriceForTen = Math.Round(item.Price * 10,2);
                                var discountPriceForTen = item.PriceForTen;
                                var saving = (normalPriceForTen - discountPriceForTen);
                                string displayString = saving.ToString("0.00");
                                //var savingAmmended = Math.Round(saving, 4);
                                if (saving > 0)
                                {
                                    <p class="smallText">Save @Html.Encode(displayString) when buying!</p>
                                }
                            }
                        }
                    </td>
                </tr>
            }
        }
        catch 
        {
            <tr>Unable to retrieve products from this supplier, please try again later!</tr>
        }
    }
</table>
