﻿@{
    ViewBag.Title = "Products";
}

<h3 class="closeToRule">Products</h3>
<hr class="closeRule"/>

@using (Html.BeginForm("UpdateRootView", "Product"))
{
    <p class="myInline">Min Price:</p> @Html.TextBox("minPrice", null, new {@class= "form-control mySelection"});
    <p class="myInline">Max Price:</p> @Html.TextBox("maxPrice", null, new { @class = "form-control mySelection" });
    <button class="btn btn-default" type="submit">Filter</button>
}
<hr class="closeRule"/>

@*<div class="DavisonProducts">
    <h4>> Davison Products</h4>
    <div id="partialContents" class="partialContents" data-url="/Product/DavisonProducts">
        <img src="~/Images/indicator.white.gif" /> Loading Products...
    </div>
</div>

<div class="UnderCutters">
    <h4>> UnderCutters Products</h4>
    <div class="partialContents" data-url="/Product/UnderCutters">
        <img src="~/Images/indicator.white.gif" /> Loading Products...
    </div>
</div>

<div class="BazzasBazaar">
    <h4>> Bazzas Bazaar Products</h4>
    <div class="partialView" data-url="/Product/BazzasBazaar">
        <img src="~/Images/indicator.white.gif" /> Loading Products...
    </div>
</div>


<div class="DodgyDealers">
    <h4>> DodgyDealers Products</h4>
    <div class="partialContents" data-url="/Product/DodgyDealers">
        <img src="~/Images/indicator.white.gif" /> Loading Products... 
    </div>
</div>

<script>
    /// <reference path="../Scripts/jquery-1.8.2-vsdoc.js" />
    var site = site || {};
    site.baseUrl = site.baseUrl || "";
    $(document).ready(function (e) {
        // locate each partial section. If it has a URL set, load the contents into the area.

        // setTimeout(function () { //recently added

        $(".partialContents").each(function (index, item) {
            var url = site.baseUrl + $(item).data("url");
            if (url && url.length > 0) {
                $(item).load(url);
                async: true;
                cache: false;
            }
        });
        $.ajaxSetup({ cache: true, async: true });  //Turn off caching

        // }, 5000); //recently added
    });
</script>*@

<h3>> Davison Products</h3>
@Html.Action("DavisonProducts", "Product")
<h3>> Undercutters Products</h3>
@Html.Action("Undercutters","Product")
<h3>> BazzasBazaar Products</h3>
@Html.Action("BazzasBazaar", "Product")
<h3>> DodgyDealers Products</h3>
@Html.Action("DodgyDealers", "Product")


