﻿@model IEnumerable<Davison.Model.Category>

@{
    ViewBag.Title = "Categories";
}

<h1>Product Categories</h1>
<p>Select a category to be shown the products we have available!</p>

<table class="table">
    @foreach (var item in Model)
    {
        <tr>
            @Html.ActionLink(item.Name, "FilteredByCategory", "Product", new { categoryName = item.Name }, new { @class = "btn" })  
        </tr>
    }
</table>