﻿
@model IEnumerable<DavisonSocial.Models.ReviewTable>

@{
    ViewBag.Title = "Product Reviews";
}

<h2>ProductDetails</h2>

@{
    try
    {
        foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductEan)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReviewText)
                </td>

            </tr>
        }
    }
    catch
    {
        <tr>Unable to retrieve this product's reviews, please try again later.</tr>
    }
}
