﻿@model IEnumerable<DavisonCorpModel.Restocking.Delivery>

@{
    Layout = "";
    if (null != TempData["alertMessage"])
    {
        <script type="text/javascript">
       alert('@TempData["alertMessage"]');
        </script>
    }
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quantity)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.ArrivalDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductEan)
        </th>
    </tr>
    @{
        if (Model != null)
        {
            foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Quantity)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.ArrivalDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProductEan)
                    </td>
                    <td>
                        @Html.ActionLink("Accept Delivery", "AcceptDelivery", "Restocker", new { DeliveryId = item.Id, productEan = item.ProductEan, RestockAmount = item.Quantity }, null)
                    </td>
                </tr>
            }
        }
    }
</table>
@{
    if (Model == null)
    {

        <h2><font color="red">Cannot retrieve deliveries - Restocking is currently unavailable.</font></h2>
    }
}
