﻿@model List<Davison.Model.Product>

@{
    Layout = "";
    int[] thresh = ViewBag.Threshholds;
    int count = 0;
}

<h3>Products that have hit re-stocking threshhold</h3>

<table class="table">
    <tr>
        <th>
            Product
        </th>
        <th>
            Stock Level
        </th>
        <th>
            Last Restock
        </th>
        <th>
            Ean Number
        </th>
        <th>
            Restock Threshold
        </th>
    </tr>
    @{
        if (Model != null)
        {
            foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StockLevel)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LastRestock)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Ean)
                    </td>
                    <td>
                        @ViewBag.Threshholds[count].ToString()
                    </td>
                </tr>
                count = count + 1;
            }
        }
    }
</table>
@{
    if (Model == null)
    {
        <h2><font color="red">Restocking is currently unavailable, please try again later.</font></h2>
    }
}


