﻿@model IEnumerable<DavisonCorpModel.Restocking.Request>

@{
    Layout = "";
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quantity)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.ExpectedDeliveryDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductEan)
        </th>
    </tr>
    @{
        if (Model != null)
        {
            foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Quantity)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.ExpectedDeliveryDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProductEan)
                    </td>
                </tr>
            }
        }
    }
</table>

@{
    if (Model == null)
    {

        <h2><font color="red">Cannot retrive requested deliveries - Restocking is currently unavailable.</font></h2>
    }
}
