﻿@model List<Davison.Model.Product>
@{
    ViewBag.Title = "RestockInfoView";
    if (null != TempData["alertMessage"])
    {
        <script type="text/javascript">
       alert('@TempData["alertMessage"]');
        </script>
    }
}

<h2>Restocker Panel</h2>

@using (Html.BeginForm("RestockInfoButtonChoice", "Restocker"))
{
    @Html.DropDownList("productEAN")
    @*@Html.TextBox("RestockAmount");*@
    <p class="myInline">Restock Amount:</p> @Html.TextBox("RestockAmount", null, new { @class = "form-control mySelection" });
    <button type="submit" value="true" name="Restock">Schedule A Delivery</button>
    <button type="submit" value="true" name="ViewD">See Deliveries in progress</button>
}
<!--Show partial view for products exceeding threshold-->
@Html.Action("ProductsExceedingThreshhold", "Restocker")