﻿@{
    ViewBag.Title = "ViewDeliverys";
    string ean = ViewBag.eanToShow;
}

@*<div class="fixedWidthButton">
    @Html.ActionLink("  Return to Re-stocker Panel", "RestockInfoView", "Restocker")
</div>*@

@using (Html.BeginForm("RestockInfoView", "Restocker"))
{
    <button type="submit" value="true" name="idNum" class="fixedWidthButton" style="margin-top:20px; width:200px;">Return to Re-stocker Panel</button>
}


<h2>Deliveries awaiting confirmation</h2>

@Html.Action("DeliveriesAwaitingConfirm", "Restocker", new { ean = ean })

<h2>Requested Deliverys</h2>

@Html.Action("DeliveriesRequested", "Restocker", new { ean = ean })